.App {
  text-align: left;
  padding: 20px;
}

.Hand {
  margin-bottom: 40px;
}

.Discard > div {
  opacity: 0.5;
}

h1 {
  font-size: 36px;
  margin: 10px 5px;
}

.button-icon {
  cursor: pointer;
  font-size: 0.5em;
  color: #34495E;
}

.button-icon--domino-show {
  font-size: 0.9em;
  padding: 3px;
}

.domino-wrapper {
  display:inline-block;
  text-align: center;
  padding: 10px 0;
}

.Featured {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.999);
  z-index: 10000;
  top: -200vh;
  left: 0;
  transition: 200ms;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Featured.Featured--show {
  top:0;
  opacity: 1;
}
